[submodule "notepadbot"]
	path = dist/SQLCipherForAndroid-SDK/samples/notepadbot
	url = https://github.com/guardianproject/notepadbot.git
[submodule "ndk-modules/proj.4/proj.4"]
	path = ndk-modules/proj.4/proj.4
	url = git://github.com/littlesavage/proj.4.git
[submodule "ndk-modules/geos/geos"]
	path = ndk-modules/geos/geos
	url = git://github.com/libgeos/libgeos.git
[submodule "ndk-modules/libspatialite/libspatialite"]
	path = ndk-modules/libspatialite/libspatialite
	url = git@github.com:littlesavage/SpatiaLite.git
[submodule "ndk-modules/android-sqlite/android-sqlite"]
	path = ndk-modules/android-sqlite/android-sqlite
	url = https://github.com/android/platform_external_sqlite.git
[submodule "ndk-modules/android-platform/platform_system_core"]
	path = ndk-modules/android-platform/platform_system_core
	url = https://github.com/android/platform_system_core.git
[submodule "ndk-modules/android-platform/platform_frameworks_base"]
	path = ndk-modules/android-platform/platform_frameworks_base
	url = https://github.com/android/platform_frameworks_base.git
[submodule "ndk-modules/icu4c/icu4c"]
	path = ndk-modules/icu4c/icu4c
	url = https://github.com/android/platform_external_icu4c.git
[submodule "ndk-modules/libnativehelper/libnativehelper"]
	path = ndk-modules/libnativehelper/libnativehelper
	url = https://android.googlesource.com/platform/libnativehelper
[submodule "ndk-modules/sqlcipher/sqlcipher"]
	path = ndk-modules/sqlcipher/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "ndk-modules/android-openssl/openssl"]
	path = ndk-modules/android-openssl/openssl
	url = https://android.googlesource.com/platform/external/openssl/
